<div class="container">
  <h3>Login</h3>
  <br>
  <form
    class="form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="form-container"
  >
    <div class="form-group">
      <label for="email">Your email:</label>
      <input type="text" name="email" formControlName="email" required email />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        required
      />
    </div>
    <div class="submitButton">
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        value="submit"
        class="btn btn-primary"
      >
        Login
      </button>
    </div>
  </form>
</div>
