<div class="header">
  <div class="content">
    <div *ngIf="logged" class="name">Hello, {{ userName }}</div>
    <ul>
      <li *ngIf="!logged" routerLink="login">Login</li>
      <li *ngIf="!logged" routerLink="register">Register</li>
      <li *ngIf="logged" routerLink="">Home</li>
      <li *ngIf="logged" [routerLink]="['/current-borrows']">Current Borrows</li>
      <li *ngIf="logged && admin" [routerLink]="['/add-book']">Add book</li>
      <li *ngIf="logged"(click)="logout()" [routerLink]="['/login']">Logout</li>
    </ul>
  </div>
</div>
