.container {
    background-color: cadetblue;
    width: 15em;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    border-radius: 12px;
  }
  
  .form-container {
    .form-group {
      display: flex;
      flex-direction: column;
    }
  
    input {
      margin-top: 0.5em;
      margin-bottom: 2em;
      height: 1.5em;
      border: none;
      padding: 0.5em;
      border-radius: 5px;
    }
  }
  
  .submitButton {
    justify-content: center;
    display: flex;
  }
  